extends layout

block content
  div(id="background-overlay")
  div(id="background")
    canvas(width="800", height="600", data-canvas-id="0", class="back-canvas")
    canvas(width="800", height="600", data-canvas-id="1", class="back-canvas")
    canvas(width="800", height="600", data-canvas-id="2", class="back-canvas")
    canvas(width="800", height="600", data-canvas-id="3", class="back-canvas")
    canvas(width="800", height="600", data-canvas-id="4", class="back-canvas")
    canvas(width="800", height="600", data-canvas-id="5", class="back-canvas")
    canvas(width="800", height="600", data-canvas-id="6", class="back-canvas")

  div(class="navbar")
    div(class="navbar-inner")
      div(class="container")
        a(class="brand",href="/")
          img(id='logo')


  div(class='container')
    div(class='row')
      div(class='span8 offset2', id='dropbox')
        div(class="front")
          canvas(width="800", height="600", data-canvas-id="0", class="front-canvas")
          div(id="drophere")
            div(id="drophere-inner")
              br
              br
              p='ここにドロップ'
          div(class="loading")= '* LOADING'
          input(type="file",id="fileElem",accept="image/jpeg",style="display:none;")


    div(class="modal hide fade",id="howToUse",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
      h2='遊び方'
      div(class="modal-body visible-desktop")
        p='JPGファイルをドラッグ&ドロップ'
      div(class="modal-body hidden-desktop")
        p='画面中央をタップ'
      div(class="modal-footer")
        a(href="#",class="btn close-btn", data-dismiss="modal")='Close'
